<h2 class="text-center">KUSIY-YASQA</h2>
<hr>

<div class="list-group">
  <!-- <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true}"
    class="list-group-item">
    Home Page
  </li>
  <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </li>
  <li routerLink="contact" routerLinkActive="active" class="list-group-item">
    Contact Page
  </li> -->
  <button routerLink="kusiyyasqa/perfil" routerLinkActive="active" class="list-group-item">
    Perfil
  </button>
  <button routerLink="kusiyyasqa/beneficiados" routerLinkActive="active" class="list-group-item">
    Beneficiados
  </button>
  <button routerLink="kusiyyasqa/aportantes" routerLinkActive="active" class="list-group-item">
    Aportantes
  </button>
  <button routerLink="kusiyyasqa/voluntarios" routerLinkActive="active" class="list-group-item">
    Voluntarios
  </button>
  <button routerLink="kusiyyasqa/personal" routerLinkActive="active" class="list-group-item">
    Personal
  </button>
  <button routerLink="kusiyyasqa/anuncios" routerLinkActive="active" class="list-group-item">
    Anuncios
  </button>
</div>
